In [1]:
import pandas as pd
import joblib

In [6]:
path = 'C:/Users/risan/PycharmProjects/scientificProject/outputs'
# x_train = joblib.load(path+'/train_age')
# y_train = joblib.load(path+'/y_train')
# x_test = joblib.load(path+'/x_test')
# y_test = joblib.load(path+'/y_test')
train = joblib.load(path+'/master_training_data')

In [7]:
train

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,salutation,has_relatives,Age_Bin
PassengerId,,,,,,,,,,,,,
6,3,"moran, mr. james",male,NaN,0,0,330877,8.4583,NaN,S,MR,0,5.0
18,2,"williams, mr. charles eugene",male,NaN,0,0,244373,13.0000,NaN,S,MR,0,5.0
20,3,"masselmani, mrs. fatima",female,NaN,0,0,2649,7.2250,NaN,S,MRS,0,5.0
27,3,"emir, mr. farred chehab",male,NaN,0,0,2631,7.2250,NaN,S,MR,0,5.0
29,3,"o'dwyer, miss. ellen ""nellie""",female,NaN,0,0,330959,7.8792,NaN,S,MISS,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,3,"peacock, miss. treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,MISS,1,NaN
1303,1,"minahan, mrs. william edward (lillian e thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,MRS,0,NaN
1304,3,"henriksson, miss. jenny lovisa",female,28.0,0,0,347086,7.7750,NaN,S,MISS,0,NaN
1306,1,"oliva y ocana, dona. fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,NA,0,NaN
1307,3,"saether, mr. simon sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,MR,0,NaN