In [1]:
import numpy as np
import pandas as pd
from sklearnex import patch_sklearn

patch_sklearn()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from dataclasses import dataclass
from sklearn.metrics import precision_score
import joblib

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [18]:
training_data = pd.read_csv('../data/Kaggle/titanic/train.csv', index_col=0)
prediction_data = pd.read_csv('../data/Kaggle/titanic/test.csv',index_col=0)
master_training_data = joblib.load('../outputs/master_training_data')

In [19]:
master_training_data.sort_index(inplace=True)

In [20]:
master_training_data[0:891]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,salutation,has_relatives,Age_Bin
PassengerId,,,,,,,,,,,,,
1,3,"braund, mr. owen harris",male,22.0,1,0,A/5 21171,7.2500,NaN,C,MR,0,1.0
2,1,"cumings, mrs. john bradley (florence briggs th...",female,38.0,1,0,PC 17599,71.2833,C85,S,MRS,0,1.0
3,3,"heikkinen, miss. laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,MISS,0,1.0
4,1,"futrelle, mrs. jacques heath (lily may peel)",female,35.0,1,0,113803,53.1000,C123,S,MRS,0,1.0
5,3,"allen, mr. william henry",male,35.0,0,0,373450,8.0500,NaN,Q,MR,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,2,"montvila, rev. juozas",male,27.0,0,0,211536,13.0000,NaN,S,NA,0,1.0
888,1,"graham, miss. margaret edith",female,19.0,0,0,112053,30.0000,B42,S,MISS,0,0.0
889,3,"johnston, miss. catherine helen ""carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,C,MISS,1,1.0
890,1,"behr, mr. karl howell",male,26.0,0,0,111369,30.0000,C148,Q,MR,0,1.0
891,3,"dooley, mr. patrick",male,32.0,0,0,370376,7.7500,NaN,S,MR,0,1.0

In [7]:
master_training_data.Age_Bin.value_counts()

1.0    834
0.0    248
2.0    194
3.0     33
Name: Age_Bin, dtype: int64

In [22]:
tr = master_training_data.iloc[0:891].copy()

In [21]:
survival_data = training_data.Survived

In [23]:
tr['Survival'] = survival_data

In [24]:
joblib.dump(tr,'../outputs/train_csv_mod')

['../outputs/train_csv_mod']

In [25]:
training_data = joblib.load('../outputs/train_csv_mod')

In [27]:
training_data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,salutation,has_relatives,Age_Bin,Survival
PassengerId,,,,,,,,,,,,,,
1,3,"braund, mr. owen harris",male,22.0,1,0,A/5 21171,7.2500,NaN,C,MR,0,1.0,0
2,1,"cumings, mrs. john bradley (florence briggs th...",female,38.0,1,0,PC 17599,71.2833,C85,S,MRS,0,1.0,1
3,3,"heikkinen, miss. laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,MISS,0,1.0,1
4,1,"futrelle, mrs. jacques heath (lily may peel)",female,35.0,1,0,113803,53.1000,C123,S,MRS,0,1.0,1
5,3,"allen, mr. william henry",male,35.0,0,0,373450,8.0500,NaN,Q,MR,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,2,"montvila, rev. juozas",male,27.0,0,0,211536,13.0000,NaN,S,NA,0,1.0,0
888,1,"graham, miss. margaret edith",female,19.0,0,0,112053,30.0000,B42,S,MISS,0,0.0,1
889,3,"johnston, miss. catherine helen ""carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,C,MISS,1,1.0,0
890,1,"behr, mr. karl howell",male,26.0,0,0,111369,30.0000,C148,Q,MR,0,1.0,1
891,3,"dooley, mr. patrick",male,32.0,0,0,370376,7.7500,NaN,S,MR,0,1.0,0

In [5]:
@dataclass
class DB(object):
    path = 'C:/Users/risan/PycharmProjects/scientificProject'
    data_master = joblib.load(path + '/outputs/master_training_data')
    data_master.sort_index(inplace=True)
    training_data = joblib.load(path + '/outputs/train_csv_mod')
    evaluation_data = data_master.iloc[891:].copy()
    training_db = pd.read_csv(path + '/data/Kaggle/titanic/train.csv', index_col=0)
    training_data['Survived'] = training_db.Survived
    eval_data = pd.read_csv(path + '/data/Kaggle/titanic/test.csv', index_col=0)
    joblib.dump(evaluation_data, path + '/outputs/test_csv_mod')

    def dump_training_data(self, x):
        joblib.dump(x, self.path + '/outputs/train_csv_mod')

    def dump_eval_data(self, x):
        joblib.dump(x, self.path + '/outputs/test_csv_mod')


d = DB()
def feature_one_hot(df, f):
    f_one_hot = pd.get_dummies(df[f], prefix=str(f))
    df = pd.concat([df, f_one_hot], axis=1)
    return df.copy()

def transform_data(x: pd.DataFrame):

    # One Hot Encoding of Embarked
    x = feature_one_hot(x, 'Embarked')
    # embarked_one_hot = pd.get_dummies(x.Embarked, prefix='Embarked')
    # x = pd.concat([x, embarked_one_hot], axis=1)
    x.Cabin = x.Cabin.fillna('U')
    x.Cabin = x.Cabin.apply(lambda val: val[0])
    x = feature_one_hot(x, 'Cabin')
    x = feature_one_hot(x, 'Sex')
    x = feature_one_hot(x, 'salutation')
    return x.copy()

In [43]:
x = transform_data(d.training_data)

In [16]:
x.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'salutation', 'has_relatives', 'Age_Bin',
       'Survived', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_A',
       'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G',
       'Cabin_T', 'Cabin_U'],
      dtype='object')

In [14]:
x.drop(['Survival'], axis=1,inplace=True)

In [44]:
d.dump_training_data(x)

In [2]:
g = joblib.load('../outputs/test_csv_mod')

In [6]:
g = transform_data(g)

In [48]:
d.training_data.drop(['Survived'], axis=1, inplace=True)

In [50]:
e=d.training_data.copy()

In [54]:
e_t = transform_data(e)

In [8]:
g.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'salutation', 'has_relatives', 'Age_Bin',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_U',
       'Sex_female', 'Sex_male', 'salutation_DR', 'salutation_MASTER',
       'salutation_MISS', 'salutation_MR', 'salutation_MRS', 'salutation_NA'],
      dtype='object')

In [57]:
e_t.salutation_MR.sum()

517

In [62]:
# find Male with family
male_with_family = e_t[e_t.has_relatives==1].copy()

In [64]:
male_with_family = male_with_family[male_with_family.Sex_male==1].copy()

In [67]:
male_with_family.Survival.value_counts()

0    65
1    27
Name: Survival, dtype: int64

0.7065217391304348

In [9]:
g.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pclass             418 non-null    int64
 1   Name               418 non-null    object
 2   Sex                418 non-null    object
 3   Age                332 non-null    float64
 4   SibSp              418 non-null    int64
 5   Parch              418 non-null    int64
 6   Ticket             418 non-null    object
 7   Fare               417 non-null    float64
 8   Cabin              418 non-null    object
 9   Embarked           418 non-null    object
 10  salutation         418 non-null    object
 11  has_relatives      418 non-null    int64
 12  Age_Bin            418 non-null    float64
 13  Embarked_C         418 non-null    uint8
 14  Embarked_Q         418 non-null    uint8
 15  Embarked_S         418 non-null    uint8
 16  Cabin_A            418 non-null    uint8
 17  Cabin_B            418 non-null    uint8
 18  Cabin_C            418 non-null    uint8
 19  Cabin_D            418 non-null    uint8
 20  Cabin_E            418 non-null    uint8
 21  Cabin_F            418 non-null    uint8
 22  Cabin_G            418 non-null    uint8
 23  Cabin_U            418 non-null    uint8
 24  Sex_female         418 non-null    uint8
 25  Sex_male           418 non-null    uint8
 26  salutation_DR      418 non-null    uint8
 27  salutation_MASTER  418 non-null    uint8
 28  salutation_MISS    418 non-null    uint8
 29  salutation_MR      418 non-null    uint8
 30  salutation_MRS     418 non-null    uint8
 31  salutation_NA      418 non-null    uint8
dtypes: float64(3), int64(4), object(6), uint8(19)
memory usage: 53.5+ KB

In [10]:
g.drop(['Sex','Age','Name','Ticket','Cabin','Embarked','salutation'], axis=1,inplace=True)

In [11]:
d.dump_eval_data(g)

In [76]:
d = DB()

In [77]:
d.training_data.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'salutation', 'has_relatives', 'Age_Bin',
       'Survival', 'Survived', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F',
       'Cabin_G', 'Cabin_T', 'Cabin_U'],
      dtype='object')

In [80]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pclass             891 non-null    int64
 1   SibSp              891 non-null    int64
 2   Parch              891 non-null    int64
 3   Fare               891 non-null    float64
 4   has_relatives      891 non-null    int64
 5   Age_Bin            891 non-null    float64
 6   Survival           891 non-null    int64
 7   Embarked_C         891 non-null    uint8
 8   Embarked_Q         891 non-null    uint8
 9   Embarked_S         891 non-null    uint8
 10  Cabin_A            891 non-null    uint8
 11  Cabin_B            891 non-null    uint8
 12  Cabin_C            891 non-null    uint8
 13  Cabin_D            891 non-null    uint8
 14  Cabin_E            891 non-null    uint8
 15  Cabin_F            891 non-null    uint8
 16  Cabin_G            891 non-null    uint8
 17  Cabin_T            891 non-null    uint8
 18  Cabin_U            891 non-null    uint8
 19  Sex_female         891 non-null    uint8
 20  Sex_male           891 non-null    uint8
 21  salutation_DR      891 non-null    uint8
 22  salutation_MASTER  891 non-null    uint8
 23  salutation_MISS    891 non-null    uint8
 24  salutation_MR      891 non-null    uint8
 25  salutation_MRS     891 non-null    uint8
 26  salutation_NA      891 non-null    uint8
dtypes: float64(2), int64(5), uint8(20)
memory usage: 105.4 KB

In [12]:
g['Family_Size']=g['SibSp'] + g['Parch']

In [83]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pclass             891 non-null    int64
 1   SibSp              891 non-null    int64
 2   Parch              891 non-null    int64
 3   Fare               891 non-null    float64
 4   has_relatives      891 non-null    int64
 5   Age_Bin            891 non-null    float64
 6   Survival           891 non-null    int64
 7   Embarked_C         891 non-null    uint8
 8   Embarked_Q         891 non-null    uint8
 9   Embarked_S         891 non-null    uint8
 10  Cabin_A            891 non-null    uint8
 11  Cabin_B            891 non-null    uint8
 12  Cabin_C            891 non-null    uint8
 13  Cabin_D            891 non-null    uint8
 14  Cabin_E            891 non-null    uint8
 15  Cabin_F            891 non-null    uint8
 16  Cabin_G            891 non-null    uint8
 17  Cabin_T            891 non-null    uint8
 18  Cabin_U            891 non-null    uint8
 19  Sex_female         891 non-null    uint8
 20  Sex_male           891 non-null    uint8
 21  salutation_DR      891 non-null    uint8
 22  salutation_MASTER  891 non-null    uint8
 23  salutation_MISS    891 non-null    uint8
 24  salutation_MR      891 non-null    uint8
 25  salutation_MRS     891 non-null    uint8
 26  salutation_NA      891 non-null    uint8
 27  Family_Size        891 non-null    int64
dtypes: float64(2), int64(6), uint8(20)
memory usage: 112.3 KB

In [85]:
f.Family_Size.value_counts()

0     537
1     161
2     102
3      29
5      22
4      15
6      12
10      7
7       6
Name: Family_Size, dtype: int64

In [86]:
from sklearn.preprocessing import KBinsDiscretizer

In [111]:
kbd = KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='uniform')

In [120]:
f = feature_one_hot(f,'Age_Bin')

In [112]:
fares = kbd.fit_transform(np.array(f.Fare).reshape(-1,1))

In [113]:
f.Fare = pd.Series(fares.ravel(), index=f.index)

In [121]:
f.columns

Index(['Pclass', 'SibSp', 'Parch', 'has_relatives', 'Age_Bin', 'Survival',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_U', 'Sex_female', 'Sex_male', 'salutation_DR',
       'salutation_MASTER', 'salutation_MISS', 'salutation_MR',
       'salutation_MRS', 'salutation_NA', 'Family_Size_0.0', 'Family_Size_1.0',
       'Family_Size_2.0', 'Family_Size_3.0', 'Family_Size_4.0', 'Fare_0.0',
       'Fare_1.0', 'Fare_2.0', 'Fare_4.0', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Age_Bin_0.0', 'Age_Bin_1.0', 'Age_Bin_2.0', 'Age_Bin_3.0'],
      dtype='object')

### Survival Rates Per Pclass

In [129]:
f[f.Survival==1].Pclass.value_counts()/(f[f.Survival==0].Pclass.value_counts()+f[f.Survival==1].Pclass.value_counts())

1    0.629630
2    0.472826
3    0.242363
Name: Pclass, dtype: float64

In [132]:
f.drop(['Pclass','SibSp','Parch','Age_Bin'],axis=1,inplace=True)

In [135]:
f.sum()

has_relatives        193
Survival             342
Embarked_C           168
Embarked_Q            77
Embarked_S           646
Cabin_A               15
Cabin_B               47
Cabin_C               59
Cabin_D               33
Cabin_E               32
Cabin_F               13
Cabin_G                4
Cabin_T                1
Cabin_U              687
Sex_female           314
Sex_male             577
salutation_DR          7
salutation_MASTER     40
salutation_MISS      182
salutation_MR        517
salutation_MRS       125
salutation_NA         20
Family_Size_0.0      698
Family_Size_1.0      131
Family_Size_2.0       37
Family_Size_3.0       18
Family_Size_4.0        7
Fare_0.0             838
Fare_1.0              33
Fare_2.0              17
Fare_4.0               3
Pclass_1             216
Pclass_2             184
Pclass_3             491
Age_Bin_0.0          179
Age_Bin_1.0          562
Age_Bin_2.0          128
Age_Bin_3.0           22
dtype: int64

In [131]:
d.dump_training_data(f)